*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.page{
    height:  100vh;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}
